<div class="well bg-white clearfix tab-content no-padding device-discrepancies">
    <div class="clearfix"></div>
    <div class="logs">
        <table class="table table-device table-Wrap">
            <thead>
                <tr>
                    <th ng-repeat="(colKey,col) in deviceData.discrepancies.columns">{{col.name.display_name}}</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="(rowKey,row) in deviceData.discrepancies.records|itemsPerPage:paginationParams.itemsPerPage" pagination-id="discrepancies" total-items="paginationParams.discrepancies.total_count" current-page="paginationParams.discrepancies.pageNo">
                    <td class="{{serviceColWidth}}" ng-repeat ="(columnKey, col) in deviceData.discrepancies.columns">
                        <div class="">{{row[col.name.column]}}</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-hide="deviceDiscrepanciesError" class="role-pagination device-pagination">
        <dir-pagination-controls on-page-change="getDiscrepanciesLog(newPageNumber)" boundary-links="true" pagination-id="discrepancies"></dir-pagination-controls>
    </div>
    <div ng-show="deviceDiscrepanciesError" class="device-error">
        <div class="alert alert-danger error-box fa fa-exclamation-triangle">
            {{deviceDiscrepanciesError}}
        </div>
    </div>
    <div class="well-line-relative history-log">
        <a>{{deviceData.discrepancies.log}}</a>
    </div>
</div>
