<div class="content-box">
    <div ng-show="showLoader" class="loader-box">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw r-loader"></i>
        <div ng-if="alertType.show" ng-include="'partials/shared/alert.html'"></div>
    </div>
    <div ng-show="modalError" class="loader-box modal-error" >
        <i class="fa-2x r-loader fa fa-exclamation-circle"> {{modalError}}</i>
    </div>
    <div class="filter-area">
        <div class="clearfix cant-line-down">
            <div class="pull-right">
                <div class="form-cant-buttons clearfix">
                    <span class="btn btn-primary btn-mw" id="edit_role_btn" ng-click="readOnly(false)" ng-show="readOnlyFlag">EDIT</span>
                    <span class="btn btn-primary btn-mw" id="save_role_btn" ng-click="save()" ng-hide="readOnlyFlag">SAVE</span>
                    <span class="btn btn-default" id="cancel_role_btn" ng-click="cancel()" ng-hide="readOnlyFlag">CANCEL</span>
                </div>
            </div>
        </div>
    </div>
    <div class="well-title">Set software package names used for reporting, such as for the Software Versions Report.</div>
    <div class="well">
        <div class="form-line">
            <div class="col-sm-12">
                <div class="col-sm-4" ng-mouseleave="showList('hide')">
                    <label>
                        Device Type
                        <span ng-show="roleData.tooltip.deviceType">
                            {{roleData.tooltip.deviceType}}
                        </span>
                    </label>
                    <span class="input-select">
                        <span id="software_edit_device_type_input" data-requried="true" name="dType" class="form-control" ng-model="roleData.deviceType" ng-click="showList('deviceType')">{{roleData.deviceType}}<span class="droplist-arrow caret" ng-if="metaData.length>0"></span></span>
                        <ul id="edit_software_device_type_input_select_ul" ng-show="visibility.deviceType" class="dropOptions deviceType">
                            <li ng-click="updateType('deviceType', deviceTypeObj)" ng-repeat="deviceTypeObj in metaData">{{deviceTypeObj.displayName}}</li>
                        </ul>
                    </span>
                </div>
                <div class="col-sm-5">
                    <label>
                        Software
                        <span ng-show="roleData.tooltip.softwareCodes">
                            {{roleData.tooltip.softwareCodes}}
                        </span>
                    </label>
                    <div class="colps-body full-border clearfix software-package-box">
                        <span class="col-sm-12" ng-repeat="software in roleData[roleData.deviceType]" ng-readonly="readOnlyFlag">
                            <div class="colps-child wrap-text">
                                {{software}}
                                <span ng-click="deleteSoftware(software)" ng-hide="readOnlyFlag"><i class="fa fa-trash"></i></span>
                            </div>
                        </span>
                    </div>
                    <div class="input-group" ng-show="roleData.deviceType">
                        <span class="input-select">
                            <input ng-hide="readOnlyFlag" name="software" ng-model="roleData.softwareItem" ng-change="roleData.softwareItem && getAutoCompleteData('softwareItemsByDeviceType','softwareItem')" ng-click="showList('softwareItem')" id="feature_edit_software_input" type="text" class="form-control well-li" data-readonly="true" data-requried="true" ng-readonly="!roleData[roleData.deviceType]" ng-trim="false"/><span class="droplist-arrow caret software-package-arrow" ng-click="showList('softwareItem')" ng-if="metaData.softwareItem.length"></span>
                            <ul ng-show="visibility.softwareItem" class="dropOptions deviceType software-package-ul">
                                <li ng-if="wait">Please wait a moment...</li>
                                <li ng-click="clear('softwareItem')" ng-if="metaData.softwareItem.length"><span>&nbsp;</span></li>
                                <li class="well-li" ng-click="updateType('softwareItem', repMetaObj)" ng-repeat="repMetaObj in metaData.softwareItem">{{repMetaObj.displayName}}</li>
                            </ul>
                        </span>
                        <span class="input-group-btn software-package-addbtn">
                            <button class="btn btn-primary" id="feature_edit_add_software_btn" ng-hide="readOnlyFlag" ng-click="addSoftware(roleData.softwareItem)">
                                <i class="fa fa-plus"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>