<div class="role-edit" ng-class="{'create':createRecord}">
    <div ng-show="showLoader" class="loader-box">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw r-loader"></i>
        <div ng-if="alertType.archiveConfirmation">
            <div  ng-include="'partials/shared/alertWithArchive.html'"></div>
        </div>
        <div ng-if="alertType.confirmation">
            <div ng-if="alertType.show" ng-include="'partials/shared/alertWithConfirmation.html'"></div>
        </div>
        <div ng-if="!alertType.confirmation">
            <div ng-if="alertType.show" ng-include="'partials/shared/alert.html'"></div>
        </div>
    </div>
    <div ng-show="modalError" class="loader-box modal-error" >
        <i class="fa-2x r-loader fa fa-exclamation-circle"> {{modalError}}</i>
    </div>
    <div class="modal-dialog modal-lg" role="document" ng-hide="modalError">
        <div class="modal-content">
            <div class="modal-header clearfix">
                <span class="modal-title" id="updModalLabel" ng-hide="createRecord">View {{role|titleCase}} Item</span>
                <span class="modal-title" id="updModalCreateLabel" ng-show="createRecord">Create {{role|titleCase}} Item</span>
                <div class="pull-right">
                    <a uib-popover-html="help" popover-is-open="popoverIsOpen" ng-click="popoverIsOpen = !popoverIsOpen" popover-placement="left-top">Help</a>
                    <button class="btn btn-primary btn-mw" id="edit_role_btn" ng-show="readOnlyFlag" ng-if="roleData.softwareStatus !== 'Archived' && acctAccess.software === 'W'" ng-click="clone(true)">ARCHIVE AND CLONE</button>
                    <button class="btn btn-primary btn-mw" id="edit_role_btn" ng-show="readOnlyFlag" ng-if="acctAccess.software === 'W'" ng-click="clone()">CLONE</button>
                    <button class="btn btn-primary btn-mw" id="edit_role_btn" ng-show="readOnlyFlag" ng-if="acctAccess.software === 'W'" ng-click="readOnly(false)">EDIT</button>
                    <button class="btn btn-primary btn-mw" id="save_role_btn" ng-hide="readOnlyFlag" ng-disabled="swForm.$invalid || hasNoHW || !selectedValidLanguage" ng-click="save(null)">SAVE</button>
                    <button data-dismiss="modal" aria-label="Close" ng-if="acctAccess.software === 'W'" class="btn btn-primary btn-mw" ng-click="cancel()">CANCEL</button>
                    <button class="btn btn-primary btn-mw" data-dismiss="modal" aria-label="Close" ng-if="acctAccess.software === 'R'" ng-click="cancel()">CLOSE</button>
                </div>
            </div>
            <form name="swForm" autocomplete="off" novalidate>
                <div class="modal-body edits">
                    <label>Basic Information</label>
                    <div class="modal-form overflow-visible">
                        <div class="form-line">
                            <div class="col-sm-4" ng-class="{ 'has-error': swForm.sName.$invalid }">
                                <label>
                                    Name*
                                    <span ng-show="roleData.tooltip.softwareName">
                                        {{roleData.tooltip.softwareName}}
                                    </span>
                                </label>
                                <input id="software_edit_name_input" type="text" name="sName" pattern="^[ A-Za-z0-9.&_-]*$" uib-popover="Please fill with alphanumeric and .&_-" popover-is-open="sNamePopover && swForm.sName.$invalid" popover-trigger="swForm.sName.$invalid" ng-click="sNamePopover = !sNamePopover" popover-placement="top-right" ng-readonly="!createRecord && (readOnlyFlag || (status!=='Limited Release'))" class="form-control" ng-model="roleData.softwareName" required/>
                            </div>
                            <div class="col-sm-4" ng-class="{ 'has-error': swForm.pNumber.$invalid }" >
                                <label>
                                    Part Number*
                                    <span ng-show="roleData.tooltip.part">
                                        {{roleData.tooltip.part}}
                                    </span>
                                </label>
                                <input id="software_edit_part_number_input" type="text" name="pNumber" pattern="^[ A-Za-z0-9._-]*$" uib-popover="Please fill with alphanumeric and ._-" popover-is-open="pNumberPopover && swForm.pNumber.$invalid" popover-trigger="swForm.pNumber.$invalid" ng-click="pNumberPopover = !pNumberPopover" popover-placement="top-right" class="form-control" ng-readonly="!createRecord && (readOnlyFlag || (status!=='Limited Release'))" ng-model="roleData.part" required/>
                            </div>
                            <div class="col-sm-4" ng-class="{ 'has-error': swForm.rev.$invalid }">
                                <label>
                                    Revision*
                                    <span ng-show="roleData.tooltip.revision">
                                        {{roleData.tooltip.revision}}
                                    </span>
                                </label>
                                <input id="software_edit_revision_input" type="text" name="rev" pattern="^[ A-Za-z0-9._-]*$" uib-popover="Please fill with alphanumeric and ._-" popover-is-open="revPopover && swForm.rev.$invalid" popover-trigger="swForm.rev.$invalid" ng-click="revPopover = !revPopover" popover-placement="top-right" class="form-control" ng-readonly="!createRecord && (readOnlyFlag || (status==='Unknown') || (status==='Archived'))" ng-model="roleData.revision" required/>
                            </div>
                        </div>
                        <div class="form-line">
                            <div class="col-sm-4" ng-class="{ 'has-error': swForm.cOrder.$invalid }">
                                <label>
                                    Comparison Order*
                                    <span ng-show="roleData.tooltip.part">
                                        {{roleData.tooltip.part}}
                                    </span>
                                </label>
                                <input id="software_edit_conparison_order_input" type="text" name="cOrder" pattern="^[0-9]*$" uib-popover="Please fill with numeric" popover-is-open="cOrderPopover && swForm.cOrder.$invalid" popover-trigger="swForm.cOrder.$invalid" ng-click="cOrderPopover = !cOrderPopover" popover-placement="top-right" class="form-control" ng-readonly="!createRecord && (readOnlyFlag || (status==='Archived'))" ng-model="roleData.comparisonOrder" required/>
                            </div>
                        </div>
                        <div class="form-line">
                            <div class="col-sm-12">
                                <label>
                                    Description
                                    <span ng-show="roleData.tooltip.description">
                                        {{roleData.tooltip.description}}
                                    </span>
                                </label>
                                <textarea id="software_edit_description_input" class="form-control" ng-readonly="!createRecord && readOnlyFlag" ng-model="roleData.description"></textarea>
                            </div>
                        </div>
                        <div class="form-line">
                            <div class="col-sm-4" ng-mouseleave="showList('hide')" ng-class="{ 'has-error': swForm.dType.$invalid }">
                                <label>
                                    Device Type*
                                    <span ng-show="roleData.tooltip.deviceType">
                                        {{roleData.tooltip.deviceType}}
                                    </span>
                                </label>
                                <span class="input-select">
                                    <span id="software_edit_device_type_input" name="dType" class="form-control" ng-readonly="!createRecord && (readOnlyFlag || (status!=='Limited Release'))" ng-model="roleData.deviceType" required ng-click="showList('deviceType')">{{roleData.deviceType}}<span class="droplist-arrow caret" ng-if="!readOnlyFlag && !(!createRecord && (readOnlyFlag || (status!=='Limited Release')))"></span></span>
                                    <ul id="edit_software_device_type_input_select_ul" ng-show="!readOnlyFlag && visibility.deviceType && ((status==='Limited Release') || createRecord)" class="dropOptions deviceType">
                                        <li ng-click="updateType('deviceType', deviceTypeObj)" ng-repeat="deviceTypeObj in metaData.device_types">{{deviceTypeObj.displayName}}</li>
                                    </ul>
                                </span>
                            </div>
                            <div class="col-sm-4" ng-mouseleave="showList('hide')">
                                <label>
                                    Software Type*
                                    <span ng-show="roleData.tooltip.softwareType">
                                        {{roleData.tooltip.softwareType}}
                                    </span>
                                </label>
                                <span class="input-select" ng-class="{ 'has-error': swForm.sType.$invalid }">
                                    <span id="software_edit_software_type_input" class="form-control" name="sType" ng-readonly="!createRecord && (readOnlyFlag || (status==='Archived'))" ng-model="roleData.softwareType" ng-click="showList('softwareType')" required>{{roleData.softwareType}}<span class="droplist-arrow caret" ng-if="!readOnlyFlag && !(!createRecord && (readOnlyFlag || (status==='Archived')))"></span></span>
                                    <ul id="edit_software_software_type_input_select_ul" ng-show="!readOnlyFlag && visibility.softwareType && (status!=='Archived')" class="dropOptions softwareType">
                                        <li ng-click="updateType('softwareType', softwareTypeObj)" ng-repeat="softwareTypeObj in metaData.software_type">{{softwareTypeObj.displayName}}</li>
                                    </ul>
                                </span>
                            </div>
                            <div class="col-sm-4" ng-mouseleave="showList('hide')">
                                <label>
                                    Status*
                                    <span ng-show="roleData.tooltip.softwareStatus">
                                        {{roleData.tooltip.softwareStatus}}
                                    </span>
                                </label>
                                <span class="input-select">
                                    <span id="software_edit_status_input" class="form-control" ng-readonly="!createRecord && readOnlyFlag" ng-model="roleData.softwareStatus" ng-click="showList('softwareStatus')">{{roleData.softwareStatus}}<span class="droplist-arrow caret" ng-if="!readOnlyFlag"></span></span>
                                    <ul id="edit_software_status_input_ul" ng-show="!readOnlyFlag && visibility.softwareStatus" class="dropOptions softwareStatus">
                                        <li id="edit_software_status_input_select_li" ng-click="updateType('softwareStatus', currentStatus)">{{currentStatus.displayName}}</li>
                                        <li id="edit_software_status_input_select_li{{$index}}" ng-click="updateType('softwareStatus', softwareStatusObj)" ng-repeat="softwareStatusObj in metaData.software_status">{{softwareStatusObj.displayName}}</li>
                                    </ul>
                                </span>
                            </div>
                        </div>
                        <div class="form-line">
                            <div class="col-sm-4" ng-mouseleave="showList('hide')" ng-class="{ 'has-error': swForm.language.$invalid || !selectedValidLanguage }">
                                <label>
                                    Language*
                                    <span ng-show="roleData.tooltip.language">
                                        {{roleData.tooltip.language}}
                                    </span>
                                </label>
                                <span class="input-select">
                                    <input id="software_edit_language_input" name="language" type="text" ng-change="visibility.language = true" class="form-control" ng-readonly="!createRecord && (readOnlyFlag || (status==='Archived'))" ng-model="roleData.language" ng-click="showList('language')" required><span class="droplist-arrow caret" ng-if="!readOnlyFlag && !(!createRecord && (readOnlyFlag || (status==='Archived')))"></span>
                                    <ul id="edit_software_language_input_ul" ng-show="!readOnlyFlag && visibility.language && (status!=='Archived')" class="dropOptions language">
                                        <li ng-click="updateType('language', languageObj)" ng-repeat="languageObj in metaData.languageList">{{languageObj.displayName}}</li>
                                    </ul>
                                </span>
                            </div>
                        </div>
                    </div>

                    <label>Add File</label>
                    <div class="upload-area">
                        <div ng-class="{'read-only': !createRecord && (readOnlyFlag || (status==='Archived'))}"></div>
                        <div class="upload-group" ng-hide="roleData.file">
                            <div class="upload-doc">
                                <div ng-hide="uploadingDoc" class="upload-click doc-box" ngf-select="uploadDoc(file)" ng-model="file" ngf-drop="uploadDoc(file)" ngf-drag-over-class="'dragover'">
                                    <div ng-show="uploadError" class="med-error med-error-msg">
                                        <i class="fa fa-exclamation-triangle">
                                            {{uploadError}}
                                        </i>
                                    </div>
                                    <div class="file-upload" ng-class="{'med-error' : uploadError}">
                                        <span ng-if="hasSpecialChar">No special character allowed in file name.</span> Click to upload, or drag and drop your file here
                                    </div>
                                </div>
                                <div class="doc-loader" ng-show="uploadingDoc">
                                    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                                </div>
                            </div>
                        </div>
                        <div class="upload-files" ng-show="roleData.file">
                            <table class="table table-noline">
                                <tbody>
                                    <tr>
                                        <td class="col-sm-6">{{roleData.file.filename}}</td>
                                        <td>{{roleData.file.size}}</td>
                                        <td>{{roleData.file.createTime|date:'MM/dd/yy'}}</td>
                                        <td><a class="file-remove-b" ng-hide="!createRecord && (readOnlyFlag || (status==='In Production') || (status==='Archived'))" ng-class="{'med-error': deleteError}" class="file-remove-b" ng-click="deleteDoc(roleData.file)">
                                                <i ng-hide="deletingDoc" class="fa fa-remove"></i>
                                                <i ng-show="deletingDoc" class="fa fa-spinner fa-spin"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <label class="modal-lab">Country Exclusion</label>
                    <div class="modal-form clearfix colp">
                        <div class="col-sm-12 form-line no-padding">
                            <div class="col-sm-6">
                                <input ng-model="searchText" class="form-control search-input" placeholder="Search" ng-readonly="!createRecord && (readOnlyFlag || (status==='Archived'))">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="colp-content" ng-repeat="(region, countries) in metaData.country">
                                <div class="colp-title region-title check-box" data-id="1">
                                    <label class="colp-child wrap-text" title="{{country.displayName}}">
                                        <input type="checkbox" ng-disabled="!createRecord && (readOnlyFlag || (status==='Archived'))" ng-click="selectAll(region, regionExcluded[region], false)"  ng-model="regionExcluded[region]"> <span></span>{{region}}
                                    </label>
                                </div>
                                <div class="colp-body clearfix country-list scroll-box check-box">
                                    <span class="col-sm-4" ng-repeat="country in countries| filter:searchText">
                                        <label class="colp-child wrap-text" title="{{country.displayName}}">
                                            <input type="checkbox" ng-disabled="!createRecord && (readOnlyFlag || (status==='Archived'))" ng-click="excludeCountry(region, country)"  ng-model="countryExcluded[region][country.value]"> <span></span>{{country.displayName}}
                                        </label>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="colp-selected check-box">
                                <div class="colps-content" ng-repeat="(region, countries) in metaData.country" ng-show="selectedCountries[region]">
                                    <div class="colps-title" data-id="1">{{region}}<a ng-click="selectAll(region, false, true)" ng-if="!readOnlyFlag && (createRecord || (status!=='Archived'))"><i class="fa fa-trash"></i></a></div>
                                    <div class="colps-body clearfix scroll-box country-list">
                                        <span class="col-sm-4" ng-repeat="(id, country) in selectedCountries[region] | toArray | filter:{selected:true}">
                                            <div class="colps-child wrap-text" data-id="{{id}}" title="{{country.displayName}}">
                                                {{country.displayName}}
                                                <span ng-if="!readOnlyFlag && (createRecord || (status!=='Archived'))" ng-click="deleteCountry(region, country.$key)"><i class="fa fa-trash"></i></span>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <compatible-items
                        role-config="document"
                        doc-type="true"
                        role-data="roleData"
                        search-type="searchType(role,config)"
                        read-only-flag="!createRecord && (readOnlyFlag || (status==='Archived'))"
                        search-result="searchResult"
                        add-association="addAssociation(index, associationKey, searchObj, type, root)"
                        remove-association="removeAssociation(index, ObjKey)"
                        is-empty-obj="isEmptyObj(obj)">
                    </compatible-items>

                    <compatible-items
                        ng-class="{ 'has-error': (isCatalogDevice && hasNoHW) }"
                        role-config="hardware"
                        doc-type="true"
                        role-data="roleData"
                        search-type="searchType(role,config)"
                        read-only-flag="!createRecord && !docControl"
                        search-result="searchResult"
                        add-association="addAssociation(index, associationKey, searchObj, type, root)"
                        remove-association="removeAssociation(index, ObjKey)"
                        is-empty-obj="isEmptyObj(obj)">
                    </compatible-items>

                    <div ng-if="roleData.associatedConfigurations.length && !createRecord" ng-include="'partials/shared/associatedConf.html'"></div>
                    <div ng-if="roleData.cloneMap && !createRecord" ng-include="'partials/shared/cloneMap.html'"></div>
                </div>
            </form>
        </div>
    </div>
</div>