<div ng-show="showLoader" class="loader-box">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw r-loader"></i>
    <div ng-if="alertType.show" ng-include="'partials/shared/alert.html'"></div>
</div>
<div ng-show="modalError" class="loader-box modal-error" >
    <i class="fa-2x r-loader fa fa-exclamation-circle"> {{modalError}}</i>
</div>
<div class="modal-header clearfix">
    <span class="modal-title" id="myModalLabel"></span>
    <span class="modal-title" id="updModalAlert">View Alert Detail</span>
    <div class="pull-right">
        <span ng-if="!readOnlyPermission">
            <button id="update_alert_btn" type="button" class="btn btn-primary btn-mw" ng-show="readOnlyAlertFlag" ng-click="readOnlyAlert(false)">EDIT</button>
            <button id="update_alert_save_btn" type="button" class="btn btn-primary btn-mw" ng-hide="readOnlyAlertFlag" ng-click="saveAlert()">SAVE</button>
        </span>
        <button class="btn btn-primary btn-mw" data-dismiss="modal" aria-label="Close" ng-click="cancelAlert()">CANCEL</button>
    </div>
</div>
<div class="modal-body alerts">
    <label>Alert Information</label>
    <div class="form-line">
        <div class="col-sm-8">
            <label>
                Device Type: {{alertData.type}} 
            </label>
            <label>
                Device Serial Number: {{alertData.serial}} 
            </label>
            <label>
                Alert Event: {{alertData.event}} 
            </label>
            <label>
                Alert Category: {{alertData.category}} 
            </label>
            <label>
                Description: {{alertData.description}}
            </label>
        </div>
    </div>
    <div ng-mouseleave="showList('hide')">
        <label class='modal-body-label'>Alert Status</label>
        <div class="form-line">
            <div class="col-sm-8">
                <span class="input-select">
                    <span id="edit_alert_status" class="form-control" type="text" data-value="" data-requried="true" data-readonly="true" ng-disabled="readOnlyAlertFlag || !allowedStatusId" ng-model="alertData.status" ng-click="showList('alertStatus')">{{alertData.status}}<span class="droplist-arrow caret" ng-if="!readOnlyFlag"></span></span>
                    <ul id="edit_alert_status_ul" ng-show="!readOnlyAlertFlag && visibility.alertStatus" class="dropOptions deviceType">
                        <li id="edit_alert_status_li_{{$index}}" ng-click="updateType('status', alertStatusObj)" ng-repeat="alertStatusObj in alertMeta.status" ng-if="allowedStatusId === alertStatusObj.value">
                            {{alertStatusObj.displayName}}
                        </li>
                    </ul>
                </span>
            </div>
        </div>
    </div>
    <div ng-if="!readOnlyPermission">
        <label class='modal-body-label'>Alert Comments</label>
        <div class="form-line">
            <div class="col-sm-8">
                <textarea class="form-control form-control-lg" ng-model="alertData.comment" ng-readonly="readOnlyAlertFlag">
                </textarea>
            </div>
        </div>
    </div>
    <div class="col-xs-12  no-padding" ng-show="alertData.commentHistory.length" ng-if="!readOnlyPermission">
        <label class='modal-body-label'>Comment History</label>

        <table class="table  table-condensed header-line-top">
            <thead>
                <tr>
                    <th ng-repeat="(colKey,colObj) in roleDetails.commentColumns">{{colObj.name.display_name}}</th>
                </tr>
            </thead>
            <tr ng-repeat="(rowKey,rowObj) in alertData.commentHistory">
                <td ng-repeat ="(colKey, col) in roleDetails.commentColumns">
                    {{rowObj[col.name.column]|limitTo : 25}}
                </td>
            </tr>
        </table>
    </div>
</div>

