<div class="filter-area general-notification" ng-show="tabPageParams.primaryFilter.display_name && tabPageParams.primaryFilter.entries.length">
    <form class="form-vacent" name="sForm" ng-submit="search.name && searchTabRoles()">
        <div class="form-cant clearfix">
            <span class="col-md-3 col-md-offset-6 col-lg-offset-6 col-sm-6 form-gcant text-center">
                <a ng-if="showMoreTabFilters" id="show_more_filters_btn" ng-click="mTabFilters = !mTabFilters" class="more-filters-btn filters pull-left"><i class="fa fa-bars" aria-hidden="true"></i><span ng-hide="mTabFilters"> Show More Filters</span> <span ng-show="mTabFilters">Hide Filters</span></a>
            </span>
            <span class="col-md-3 col-sm-4 text-left">
                <button id="create_new_notification_btn" ng-if="authority >= 9" class="btn btn-primary" type="button" ng-click="openModal('NEW')">CREATE NEW NOTIFICATION</button>
            </span>
        </div>
        <div class="form-cant clearfix">
            <span class="vacant-cant">Date
            </span>
            <ul class="nav nav-checkbox">
                <div class="dropdown form-group col-sm-4">
                    <a class="dropdown-toggle" id="dropdownStart" role="button" data-toggle="dropdown">
                        <div class="input-group date">
                            <input type="text" placeholder="From" class="form-control" data-ng-model="dateRange.from" data-date-time-input="MM/DD/YYYY HH:mm">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="dateRange.from"
                        data-datetimepicker-config="{ dropdownSelector: '#dropdownStart', renderOn: 'end-date-changed' }"
                        data-on-set-time="startDateOnSetTime()"
                        data-before-render="startDateBeforeRender($dates)"></datetimepicker>
                    </ul>
                </div>

                <div class="dropdown form-group col-sm-4">
                    <a class="dropdown-toggle" id="dropdownEnd" role="button" data-toggle="dropdown">
                        <div class="input-group date">
                            <input type="text" placeholder="To" class="form-control" data-ng-model="dateRange.to" data-date-time-input="MM/DD/YYYY HH:mm">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="dateRange.to"
                        data-datetimepicker-config="{ dropdownSelector: '#dropdownEnd', renderOn: 'start-date-changed' }"
                        data-on-set-time="endDateOnSetTime()"
                        data-before-render="endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)"></datetimepicker>
                    </ul>
                </div>
                <li class="date-search">
                    <span ng-click="searchTabRoles()"><i class="fa fa-search"></i></span>
                </li> 
            </ul>
        </div>
        <div class="form-cant clearfix cant-line-down">{{sFilter}}
            <span class="vacant-cant">{{tabPageParams.primaryFilter.display_name}}
            </span>
            <ul class="nav nav-checkbox">
                <li ng-repeat="entry in tabPageParams.primaryFilter.entries">
                    <span class="check-box-filter">
                        <label class="label-filter">
                            <input type="checkbox" ng-click="searchTabRoles()" ng-model="tabSearchFilters[tabPageParams.primaryFilter.name][entry.value]"> <span></span>{{entry.name}}
                        </label>
                    </span>
                </li>
            </ul>
        </div>
        <!-- Show More Filters Click Function -->
        <div ng-show="mTabFilters">
            <div class="filter-area">
                <div class="form-cant clearfix" ng-repeat="filter in tabPageParams.filters">
                    <span class="vacant-cant">{{filter.display_name}}</span>
                    <ul class="nav nav-checkbox">
                        <li ng-repeat="entry in filter.entries"><span class="check-box-filter">
                                <label class="label-filter">
                                    <input type="checkbox" ng-click="searchTabRoles()" ng-model="tabSearchFilters[filter.name][entry.value]"> <span></span>{{entry.name}}
                                </label>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="table-box scroll">
    <div ng-show="showLoader" class="loader-box">
        <i ng-show="!dataTabError && showLoader" class="fa fa-spinner fa-pulse fa-3x fa-fw r-loader"></i>
    </div>
    <div ng-show="dataTabError">
        <div class="alert alert-danger error-box fa fa-exclamation-triangle">
            {{dataTabError}}
        </div>
    </div>

    <table ng-hide="dataTabError" class="table table-condensed table-hover table-modal table-sorting role-table">
        <thead>
            <tr>
                <th ng-repeat="(colKey,col) in subData.columns" ng-class="sortTabCol[col.name.column].cssClass" ng-click="getTabSort(col.name.column)">{{col.name.display_name}}</th>
            </tr>
        </thead>
        <tbody>
            <tr dir-paginate="(rowKey, role) in subData.data|itemsPerPage:tabPageParams.itemsPerPage" pagination-id="general" total-items="tabPageParams.total_count" current-page="tabPageParams.pageNo" ng-click="openModal(rowKey)" >
                <td ng-repeat ="(columnKey, col) in subData.columns">
                    {{role.detail[col.name.column]}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-hide="dataTabError" class="role-pagination">
    <dir-pagination-controls on-page-change="getTabPageData(newPageNumber)" boundary-links="true" pagination-id="general"></dir-pagination-controls>
</div>

