<div ng-show="showLoader" class="loader-box fixed">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw r-loader"></i>
    <div ng-if="alertType.show" ng-include="'partials/shared/alert.html'"></div>
</div>
<div ng-show="modalError" class="loader-box modal-error fixed">
    <i class="fa-2x r-loader fa fa-exclamation-circle"> {{modalError}}</i>
</div>
<div class="modal-header clearfix">
    <span class="modal-title">Change Password</span>
    <div class="pull-right">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    </div>
</div>
<div class="modal-body bg-white">
    <form ng-submit="changePassword()" name="form">
        <div class="row">
            <div class="col-xs-6">
                <div>
                    <span>Old Password</span>
                    <input name="oldPassword" type="password" class="form-control" ng-model="oldPassword" required autofocus/>
                </div>
                <div>
                    <span>New Password</span>
                    <input name="newPassword" type="password" class="form-control" ng-model="newPassword" required autofocus/>
                </div>
                <div ng-class="{ 'has-error': !verified }">
                    <span>Confirm Password</span>
                    <input name="confirmPassword" type="password" class="form-control" ng-model="confirmPassword" required/>
                </div>
            </div>
            <div class="col-xs-6">
                <strong>Password Construction Guidelines</strong>
                <p>Poor, weak passwords are easily cracked, and put the entire system at risk. Therefore, strong passwords are required. Try to create a password that is also easy to remember.</p>
                <ul>
                    <li>Passwords should contain at least 8 characters.</li>
                    <li>Passwords should contain at least 1 uppercase letter (e.g. N) and 1 lowercase letter (e.g. t).</li>
                    <li>Passwords should contain at least 1 numerical character (e.g. 5).</li>
                    <li>Passwords should contain at least 1 special character (e.g. $).</li>
                    <li>Passwords should not contain the special characters (& < > ' / \ ").</li>
                </ul>
            </div>
        </div>
        <div class="login-btns">
            <div class="login-btn">
                <span>
                    <input type="submit" class="btn btn-primary" ng-disabled="form.$invalid || !verified" value="SUBMIT" />
                </span>
                <span>
                    <button class="btn btn-default" type="button" ng-click="cancel()">CANCEL</a>
                </span>
            </div>
        </div>
    </form>
</div>
